%table{:border => "1"}
  %thead
    %tr
      %th Job Title
      %th Company Name
      %th Contact Name
      %th Contact Number
      %th Contact Email
      %th Language Requirements
      %th Description
  %tbody
    - @jobs.each do |item|
      %tr
        %td= item.jobTitle
        %td= item.companyName
        %td= item.contactName
        %td= item.contactNumber
        %td= item.contactEmail
        %td= item.language
        %td= item.jobDescription