-# This file is  app/views/joblisting/index.html.haml
.page-header
  %h1 Available Jobs

%table.table.table-striped#job
  %thead
    %tr
      %th Date Created
      %th Company Name
      %th Job Title
      %th Contact Name
  %tbody
    - @jobs.each do |item|
      %tr
        %td= item.dateCreated
        %td= item.companyName
        %td= link_to "#{item.jobTitle}", joblisting_path(item)
        %td= item.contactName
        
= link_to 'Add new job listing', new_joblisting_path, :class => 'btn btn-primary'

        